* {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

/*
    Titles - font-family: 'Raleway', sans-serif;
    Content - font-family: 'Poppins', sans-serif;
    Other - font-family: 'Noto Sans JP', sans-serif;
*/

:root {
    --primary: #cf86ec;
    --secondary: rgb(128, 39, 187);
    --dark: rgb(44, 44, 44);
    --complementary: rgb(253, 220, 204);
}

body{ 
    background-color: var(--primary);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

nav {
    color: var(--complementary);
    background-color: var(--dark);
    font-family: 'Raleway', sans-serif;
}

.nav-item i {
    color: var(--primary);
}

.nav-item i:hover {
    color: var(--complementary);
}

#cover {
    height: 80vh;
}

#cover-photo {
    height: 100%;
    min-width: 100%;
}

#about-me {
    top: 20%;
    right: 0;
    width: 50%;
    text-align: center;
    color: var(--complementary);
}

#about-me h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: 800;
}

.navButton {
    border: none;
    background-color: var(--dark);
    color: var(--complementary);
}

.navButton:hover {
    background-color: var(--complementary);
    color: var(--dark);
}

#work-modal .modal-content {
    background-color: var(--complementary);
    color: var(--dark);
}

#work-modal .modal-body{
    background-color: var(--dark);
    color: var(--complementary);
}

.workItem {
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    list-style: none;
    color: var(--complementary);
    text-decoration: none;
}

.workItem:hover {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--complementary);
}

#highlights {
    background-color: var(--dark);
}

#highlightsTitle {
    color:var(--primary);
}

#highlightedWork {
    background-color: var(--primary);
    flex: 0 0 80%;
}

#highlightNavbar {
    background-color: var(--complementary);
    border-left: 5px solid var(--dark);
    flex: 0 0 20%;
}

.highlightBtn {
    width: 100%;
    color:var(--dark);
    font-size: 25px;
}

@media screen and (max-width: 1300px) {



    #cover {
        display: flex;
        flex-flow: column wrap;
    }

    #about-me {
        top: 20%;
        right: 10%;
        width: 80%;
        color: var(--dark);
    }

    #about-me h2 {
        color: var(--complementary);
        font-size: 60px;
    }

    #about-me h3 + h4 {
        font-size: 17px;
        font-weight: 900;
    }
}

@media screen and (max-width: 768px){

    body {
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        justify-content: center;
    }

    #about-me {
        top: 5%;
        right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 450px){

    #about-me h2 {
        color: var(--complementary);
        font-size: 40px;
    }

    #about-me h3 + h4 {
        font-size: 10px;
        font-weight: 900;
    }
}